.input-group-v{
	
	&>*:first-child{
		margin-top: 0;
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
	}

	&>*:last-child{
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}
	

}

