.input-group{

	.input-unit + .input-group-btn
	{
		padding-bottom: $grid-gutter-width/2;

		.btn
		{
			height: calc(2.8em + 1px);
		}
	}
}

button:focus {
	outline:none;
}

// create gray outline button
.btn-outline-default{
	@include button-outline-variant($gray-light);
}

.btn {

	outline: 0 !important;

	&.btn-right {
		float: right;
	}

	& > .fa {
		float: right;
		margin-top: 1px;
		margin-left: 5px;

		&.default-float {
			float: none;
		}
	}

	&.btn-remove-address {
		background-color: $danger;
		margin-right: -5px;
		color: #fff;

		&:hover{
			background-color: #c9302c;
		}
	}

	&.btn-medium {
		min-width: 10rem;
	}

	&.btn-medium-large {
		min-width: 12rem;
	}

	&.btn-large {
		min-width: 15rem;
	}

	&.btn-m-r {
		margin-right: 10px;
	}
}

.btn-right {
	float: right;
}

.btn-xs-max-width {
	@include media-breakpoint-down(xs) {
		width: 100% !important;
	}
}

.btn-icon
{
	padding: .5rem;
	
	.fa
	{
		width: 14px;
		text-align: center;
	}
	
	&.btn-sm
	{
		padding: .2rem;
		
		.fa
		{
			width: 12px;
		}
	}
}

// Responsive button text and icon visibility

@each $bp in map-keys($grid-breakpoints) {
	.btn-only-icon-#{$bp}-up {
	  @include media-breakpoint-up($bp) {
		width: 2.2rem !important;
        padding-right: 8px;
        height: 2.2rem;

        & span {
            display: none !important;
        }
	  }
	}
	.btn-only-icon-#{$bp}-down {
	  @include media-breakpoint-down($bp) {
        & span {
			display: none !important;
		}
		i {
			margin: 0 !important;
			float: none !important;
		}
	  }
	}
  }